<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="helpers.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
        //clear forms
        $(':input').val('');

        addButtonListeners();

        if (isUserLoggedIn()) {
            getUserInfo(localStorage.getItem("sessionToken"));
        }
    });

    function addButtonListeners() {
        $("#login-button").click(function(e) {
            logUserIn($("#login-email-input").val(), $("#login-password-input").val());
        }); 

        $("#register-button").click(function(e) {
            createNewUser($("#register-email-input").val(), $("#register-username-input").val(), $("#register-password-input").val());
        }); 

        $('#logout-button').click(function(e) {
            logUserOut();
        });
    }

    function logUserIn(email, password) {
        var request = $.ajax({
            type: "POST",
            url: "/users/login",
            data: {"email": email, "password": password},
            success: function (response) {
                localStorage.setItem("sessionToken", response.token);
                getUserInfo(localStorage.getItem("sessionToken"));
            },
            error: function (xhr, ajaxOptions, thrownError) {
                styleForIncorrectUsernameOrPassword();
            }
        });
    }

    function createNewUser(email, username, password) {
        var request = $.ajax({
            type: "POST",
            url: "/users",
            data: {"email": email, "username": username, "password": password},
            success: function (response) {
                logUserIn(email, password);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                styleForUserAlreadyExists();
            }
        });
    }

    function getUserInfo(token) {
        var request = $.ajax({
            type: "POST",
            url: "/user",
            data: {"token": token},
            success: function (response) {
                localStorage.setItem("username", response.username);
                localStorage.setItem("email", response.email);

                styleForLoggedInUser();
            }
        });
    }

    function logUserOut() {
        localStorage.removeItem("sessionToken");
        localStorage.removeItem("username");
        localStorage.removeItem("email");

        location.reload();
    }

    function isUserLoggedIn() {
        return localStorage.getItem("sessionToken") !== null;
    }

    function styleForLoggedInUser() {
        console.log("style for logged in user");
        $('#user-info').append($('<p>' + localStorage.getItem("username") + 
            '</p><p>' + localStorage.getItem("email") + '</p>'));

        $('#login-or-register-container').hide();
        $('#logout-button').show();
    }

    function styleForIncorrectUsernameOrPassword() {
        console.log("in here");
        $('#login-container').children('input').each(function () {
            $(this).addClass('error-shadow');
        });
    }

    function styleForUserAlreadyExists() {
        console.log("in here 2");
        $('#register-container').children('input').each(function () {
            $(this).addClass('error-shadow');
        });
    }
  </script>

  <style>
    .error-shadow {
        -moz-box-shadow:    inset 0 0 15px red !important;
        -webkit-box-shadow: inset 0 0 15px red !important;
        box-shadow:         inset 0 0 15px red !important;
    }
  </style>
</head>

<body>
  <h2>Collaborative Music Player!</h2>

  <div id="login-or-register-container">
    <div id="login-container">
        <input placeholder="Email" type="text" id="login-email-input"></input>
        <input placeholder="Password" type="text" id="login-password-input"></input>
        <button id="login-button">Login</button>
    </div>

    <br>
    <br>

    <div id="register-container">
        <input placeholder="Email" type="text" id="register-email-input"></input>
        <input placeholder="Desired Username" type="text" id="register-username-input"></input>
        <input placeholder="Password" type="text" id="register-password-input"></input>
        <button id="register-button">Register</button>
    </div>
  </div>
  
  <button id="logout-button"  style="display:none">Logout</button>
  <div id="user-info"></div>
</body>